mypy
# for everything
pandas # TODO: not sure ill keep needing this actually! reevaluate
# just for cards, you're also going to want mklatex or similar
pylatex
# just for the discord bot
discord.py
python-dotenv