mypy
jupyter
build
tinydb
setuptools # likely not strictly necessary
# just for running tests
pytest
# just for cards, you're also going to want mklatex, texlive-full or similar
# TODO: maybe texlive-full is overkill now given that quarto uses... xetex or something??
pylatex
# just for the discord bot
discord.py
python-dotenv
# you also have to drop into citutils and run:
# pip install --editable .
# or, alternatively, use apt_setup.sh

# not using "pip freeze > requirements.txt" because it does not seem to play quite ideally with citutils, pulling it from the remote rather than the local copy, as well as including a relatively noisy dependency list.
# if you need or prefer the exact dependencies, here they are commented out:

# TODO: freeze a new list before merging to main