img.cursive_a { content:url('cursive/a.png');}
img.cursive_a_ { content:url('cursive/a_.png');}
img.cursive_b { content:url('cursive/b.png');}
img.cursive_b_ { content:url('cursive/b_.png');}
img.cursive_b_a { content:url('cursive/b_a.png');}
img.cursive_b_a_ { content:url('cursive/b_a_.png');}
img.cursive_b_c { content:url('cursive/b_c.png');}
img.cursive_b_c_ { content:url('cursive/b_c_.png');}
img.cursive_b_e { content:url('cursive/b_e.png');}
img.cursive_b_e_ { content:url('cursive/b_e_.png');}
img.cursive_b_i { content:url('cursive/b_i.png');}
img.cursive_b_i_ { content:url('cursive/b_i_.png');}
img.cursive_b_o { content:url('cursive/b_o.png');}
img.cursive_b_o_ { content:url('cursive/b_o_.png');}
img.cursive_b_u { content:url('cursive/b_u.png');}
img.cursive_b_u_ { content:url('cursive/b_u_.png');}
img.cursive_ba { content:url('cursive/ba.png');}
img.cursive_ba_ { content:url('cursive/ba_.png');}
img.cursive_bc { content:url('cursive/bc.png');}
img.cursive_bc_ { content:url('cursive/bc_.png');}
img.cursive_be { content:url('cursive/be.png');}
img.cursive_be_ { content:url('cursive/be_.png');}
img.cursive_bi { content:url('cursive/bi.png');}
img.cursive_bi_ { content:url('cursive/bi_.png');}
img.cursive_bo { content:url('cursive/bo.png');}
img.cursive_bo_ { content:url('cursive/bo_.png');}
img.cursive_bollocks { content:url('cursive/bollocks.png');}
img.cursive_bu { content:url('cursive/bu.png');}
img.cursive_bu_ { content:url('cursive/bu_.png');}
img.cursive_c { content:url('cursive/c.png');}
img.cursive_c_ { content:url('cursive/c_.png');}
img.cursive_confusion { content:url('cursive/confusion.png');}
img.cursive_dash { content:url('cursive/dash.png');}
img.cursive_e { content:url('cursive/e.png');}
img.cursive_e_ { content:url('cursive/e_.png');}
img.cursive_eop { content:url('cursive/eop.png');}
img.cursive_eot { content:url('cursive/eot.png');}
img.cursive_f { content:url('cursive/f.png');}
img.cursive_f_ { content:url('cursive/f_.png');}
img.cursive_f_a { content:url('cursive/f_a.png');}
img.cursive_f_a_ { content:url('cursive/f_a_.png');}
img.cursive_f_c { content:url('cursive/f_c.png');}
img.cursive_f_c_ { content:url('cursive/f_c_.png');}
img.cursive_f_e { content:url('cursive/f_e.png');}
img.cursive_f_e_ { content:url('cursive/f_e_.png');}
img.cursive_f_i { content:url('cursive/f_i.png');}
img.cursive_f_i_ { content:url('cursive/f_i_.png');}
img.cursive_f_o { content:url('cursive/f_o.png');}
img.cursive_f_o_ { content:url('cursive/f_o_.png');}
img.cursive_f_u { content:url('cursive/f_u.png');}
img.cursive_f_u_ { content:url('cursive/f_u_.png');}
img.cursive_fa { content:url('cursive/fa.png');}
img.cursive_fa_ { content:url('cursive/fa_.png');}
img.cursive_fc { content:url('cursive/fc.png');}
img.cursive_fc_ { content:url('cursive/fc_.png');}
img.cursive_fe { content:url('cursive/fe.png');}
img.cursive_fe_ { content:url('cursive/fe_.png');}
img.cursive_fi { content:url('cursive/fi.png');}
img.cursive_fi_ { content:url('cursive/fi_.png');}
img.cursive_fleuron { content:url('cursive/fleuron.png');}
img.cursive_fo { content:url('cursive/fo.png');}
img.cursive_fo_ { content:url('cursive/fo_.png');}
img.cursive_fu { content:url('cursive/fu.png');}
img.cursive_fu_ { content:url('cursive/fu_.png');}
img.cursive_ha { content:url('cursive/ha.png');}
img.cursive_ha_ { content:url('cursive/ha_.png');}
img.cursive_hc { content:url('cursive/hc.png');}
img.cursive_hc_ { content:url('cursive/hc_.png');}
img.cursive_he { content:url('cursive/he.png');}
img.cursive_he_ { content:url('cursive/he_.png');}
img.cursive_hi { content:url('cursive/hi.png');}
img.cursive_hi_ { content:url('cursive/hi_.png');}
img.cursive_ho { content:url('cursive/ho.png');}
img.cursive_ho_ { content:url('cursive/ho_.png');}
img.cursive_hu { content:url('cursive/hu.png');}
img.cursive_hu_ { content:url('cursive/hu_.png');}
img.cursive_i { content:url('cursive/i.png');}
img.cursive_i_ { content:url('cursive/i_.png');}
img.cursive_interrobang { content:url('cursive/interrobang.png');}
img.cursive_j { content:url('cursive/j.png');}
img.cursive_j_ { content:url('cursive/j_.png');}
img.cursive_j_a { content:url('cursive/j_a.png');}
img.cursive_j_a_ { content:url('cursive/j_a_.png');}
img.cursive_j_c { content:url('cursive/j_c.png');}
img.cursive_j_c_ { content:url('cursive/j_c_.png');}
img.cursive_j_e { content:url('cursive/j_e.png');}
img.cursive_j_e_ { content:url('cursive/j_e_.png');}
img.cursive_j_i { content:url('cursive/j_i.png');}
img.cursive_j_i_ { content:url('cursive/j_i_.png');}
img.cursive_j_o { content:url('cursive/j_o.png');}
img.cursive_j_o_ { content:url('cursive/j_o_.png');}
img.cursive_j_u { content:url('cursive/j_u.png');}
img.cursive_j_u_ { content:url('cursive/j_u_.png');}
img.cursive_ja { content:url('cursive/ja.png');}
img.cursive_ja_ { content:url('cursive/ja_.png');}
img.cursive_jc { content:url('cursive/jc.png');}
img.cursive_jc_ { content:url('cursive/jc_.png');}
img.cursive_je { content:url('cursive/je.png');}
img.cursive_je_ { content:url('cursive/je_.png');}
img.cursive_ji { content:url('cursive/ji.png');}
img.cursive_ji_ { content:url('cursive/ji_.png');}
img.cursive_jo { content:url('cursive/jo.png');}
img.cursive_jo_ { content:url('cursive/jo_.png');}
img.cursive_jovaun { content:url('cursive/jovaun.png');}
img.cursive_ju { content:url('cursive/ju.png');}
img.cursive_ju_ { content:url('cursive/ju_.png');}
img.cursive_k { content:url('cursive/k.png');}
img.cursive_k_ { content:url('cursive/k_.png');}
img.cursive_k_a { content:url('cursive/k_a.png');}
img.cursive_k_a_ { content:url('cursive/k_a_.png');}
img.cursive_k_c { content:url('cursive/k_c.png');}
img.cursive_k_c_ { content:url('cursive/k_c_.png');}
img.cursive_k_e { content:url('cursive/k_e.png');}
img.cursive_k_e_ { content:url('cursive/k_e_.png');}
img.cursive_k_i { content:url('cursive/k_i.png');}
img.cursive_k_i_ { content:url('cursive/k_i_.png');}
img.cursive_k_o { content:url('cursive/k_o.png');}
img.cursive_k_o_ { content:url('cursive/k_o_.png');}
img.cursive_k_u { content:url('cursive/k_u.png');}
img.cursive_k_u_ { content:url('cursive/k_u_.png');}
img.cursive_ka { content:url('cursive/ka.png');}
img.cursive_ka_ { content:url('cursive/ka_.png');}
img.cursive_kc { content:url('cursive/kc.png');}
img.cursive_kc_ { content:url('cursive/kc_.png');}
img.cursive_ke { content:url('cursive/ke.png');}
img.cursive_ke_ { content:url('cursive/ke_.png');}
img.cursive_ki { content:url('cursive/ki.png');}
img.cursive_ki_ { content:url('cursive/ki_.png');}
img.cursive_ko { content:url('cursive/ko.png');}
img.cursive_ko_ { content:url('cursive/ko_.png');}
img.cursive_ku { content:url('cursive/ku.png');}
img.cursive_ku_ { content:url('cursive/ku_.png');}
img.cursive_l { content:url('cursive/l.png');}
img.cursive_l_ { content:url('cursive/l_.png');}
img.cursive_l_a { content:url('cursive/l_a.png');}
img.cursive_l_a_ { content:url('cursive/l_a_.png');}
img.cursive_l_c { content:url('cursive/l_c.png');}
img.cursive_l_c_ { content:url('cursive/l_c_.png');}
img.cursive_l_e { content:url('cursive/l_e.png');}
img.cursive_l_e_ { content:url('cursive/l_e_.png');}
img.cursive_l_i { content:url('cursive/l_i.png');}
img.cursive_l_i_ { content:url('cursive/l_i_.png');}
img.cursive_l_o { content:url('cursive/l_o.png');}
img.cursive_l_o_ { content:url('cursive/l_o_.png');}
img.cursive_l_u { content:url('cursive/l_u.png');}
img.cursive_l_u_ { content:url('cursive/l_u_.png');}
img.cursive_la { content:url('cursive/la.png');}
img.cursive_la_ { content:url('cursive/la_.png');}
img.cursive_lc { content:url('cursive/lc.png');}
img.cursive_lc_ { content:url('cursive/lc_.png');}
img.cursive_le { content:url('cursive/le.png');}
img.cursive_le_ { content:url('cursive/le_.png');}
img.cursive_left_comma { content:url('cursive/left_comma.png');}
img.cursive_li { content:url('cursive/li.png');}
img.cursive_li_ { content:url('cursive/li_.png');}
img.cursive_lo { content:url('cursive/lo.png');}
img.cursive_lo_ { content:url('cursive/lo_.png');}
img.cursive_lu { content:url('cursive/lu.png');}
img.cursive_lu_ { content:url('cursive/lu_.png');}
img.cursive_m { content:url('cursive/m.png');}
img.cursive_m_ { content:url('cursive/m_.png');}
img.cursive_m_a { content:url('cursive/m_a.png');}
img.cursive_m_a_ { content:url('cursive/m_a_.png');}
img.cursive_m_c { content:url('cursive/m_c.png');}
img.cursive_m_c_ { content:url('cursive/m_c_.png');}
img.cursive_m_e { content:url('cursive/m_e.png');}
img.cursive_m_e_ { content:url('cursive/m_e_.png');}
img.cursive_m_i { content:url('cursive/m_i.png');}
img.cursive_m_i_ { content:url('cursive/m_i_.png');}
img.cursive_m_o { content:url('cursive/m_o.png');}
img.cursive_m_o_ { content:url('cursive/m_o_.png');}
img.cursive_m_u { content:url('cursive/m_u.png');}
img.cursive_m_u_ { content:url('cursive/m_u_.png');}
img.cursive_ma { content:url('cursive/ma.png');}
img.cursive_ma_ { content:url('cursive/ma_.png');}
img.cursive_mc { content:url('cursive/mc.png');}
img.cursive_mc_ { content:url('cursive/mc_.png');}
img.cursive_me { content:url('cursive/me.png');}
img.cursive_me_ { content:url('cursive/me_.png');}
img.cursive_mi { content:url('cursive/mi.png');}
img.cursive_mi_ { content:url('cursive/mi_.png');}
img.cursive_mo { content:url('cursive/mo.png');}
img.cursive_mo_ { content:url('cursive/mo_.png');}
img.cursive_mu { content:url('cursive/mu.png');}
img.cursive_mu_ { content:url('cursive/mu_.png');}
img.cursive_n { content:url('cursive/n.png');}
img.cursive_n_ { content:url('cursive/n_.png');}
img.cursive_n_a { content:url('cursive/n_a.png');}
img.cursive_n_a_ { content:url('cursive/n_a_.png');}
img.cursive_n_c { content:url('cursive/n_c.png');}
img.cursive_n_c_ { content:url('cursive/n_c_.png');}
img.cursive_n_e { content:url('cursive/n_e.png');}
img.cursive_n_e_ { content:url('cursive/n_e_.png');}
img.cursive_n_i { content:url('cursive/n_i.png');}
img.cursive_n_i_ { content:url('cursive/n_i_.png');}
img.cursive_n_o { content:url('cursive/n_o.png');}
img.cursive_n_o_ { content:url('cursive/n_o_.png');}
img.cursive_n_u { content:url('cursive/n_u.png');}
img.cursive_n_u_ { content:url('cursive/n_u_.png');}
img.cursive_na { content:url('cursive/na.png');}
img.cursive_na_ { content:url('cursive/na_.png');}
img.cursive_nc { content:url('cursive/nc.png');}
img.cursive_nc_ { content:url('cursive/nc_.png');}
img.cursive_ne { content:url('cursive/ne.png');}
img.cursive_ne_ { content:url('cursive/ne_.png');}
img.cursive_ni { content:url('cursive/ni.png');}
img.cursive_ni_ { content:url('cursive/ni_.png');}
img.cursive_no { content:url('cursive/no.png');}
img.cursive_no_ { content:url('cursive/no_.png');}
img.cursive_nu { content:url('cursive/nu.png');}
img.cursive_nu_ { content:url('cursive/nu_.png');}
img.cursive_o { content:url('cursive/o.png');}
img.cursive_o_ { content:url('cursive/o_.png');}
img.cursive_p { content:url('cursive/p.png');}
img.cursive_p_ { content:url('cursive/p_.png');}
img.cursive_p_a { content:url('cursive/p_a.png');}
img.cursive_p_a_ { content:url('cursive/p_a_.png');}
img.cursive_p_c { content:url('cursive/p_c.png');}
img.cursive_p_c_ { content:url('cursive/p_c_.png');}
img.cursive_p_e { content:url('cursive/p_e.png');}
img.cursive_p_e_ { content:url('cursive/p_e_.png');}
img.cursive_p_i { content:url('cursive/p_i.png');}
img.cursive_p_i_ { content:url('cursive/p_i_.png');}
img.cursive_p_o { content:url('cursive/p_o.png');}
img.cursive_p_o_ { content:url('cursive/p_o_.png');}
img.cursive_p_u { content:url('cursive/p_u.png');}
img.cursive_p_u_ { content:url('cursive/p_u_.png');}
img.cursive_pa { content:url('cursive/pa.png');}
img.cursive_pa_ { content:url('cursive/pa_.png');}
img.cursive_pc { content:url('cursive/pc.png');}
img.cursive_pc_ { content:url('cursive/pc_.png');}
img.cursive_pe { content:url('cursive/pe.png');}
img.cursive_pe_ { content:url('cursive/pe_.png');}
img.cursive_period { content:url('cursive/period.png');}
img.cursive_pi { content:url('cursive/pi.png');}
img.cursive_pi_ { content:url('cursive/pi_.png');}
img.cursive_po { content:url('cursive/po.png');}
img.cursive_po_ { content:url('cursive/po_.png');}
img.cursive_pondering { content:url('cursive/pondering.png');}
img.cursive_pu { content:url('cursive/pu.png');}
img.cursive_pu_ { content:url('cursive/pu_.png');}
img.cursive_q { content:url('cursive/q.png');}
img.cursive_q_ { content:url('cursive/q_.png');}
img.cursive_q_a { content:url('cursive/q_a.png');}
img.cursive_q_a_ { content:url('cursive/q_a_.png');}
img.cursive_q_c { content:url('cursive/q_c.png');}
img.cursive_q_c_ { content:url('cursive/q_c_.png');}
img.cursive_q_e { content:url('cursive/q_e.png');}
img.cursive_q_e_ { content:url('cursive/q_e_.png');}
img.cursive_q_i { content:url('cursive/q_i.png');}
img.cursive_q_i_ { content:url('cursive/q_i_.png');}
img.cursive_q_o { content:url('cursive/q_o.png');}
img.cursive_q_o_ { content:url('cursive/q_o_.png');}
img.cursive_q_u { content:url('cursive/q_u.png');}
img.cursive_q_u_ { content:url('cursive/q_u_.png');}
img.cursive_qa { content:url('cursive/qa.png');}
img.cursive_qa_ { content:url('cursive/qa_.png');}
img.cursive_qc { content:url('cursive/qc.png');}
img.cursive_qc_ { content:url('cursive/qc_.png');}
img.cursive_qe { content:url('cursive/qe.png');}
img.cursive_qe_ { content:url('cursive/qe_.png');}
img.cursive_qi { content:url('cursive/qi.png');}
img.cursive_qi_ { content:url('cursive/qi_.png');}
img.cursive_qo { content:url('cursive/qo.png');}
img.cursive_qo_ { content:url('cursive/qo_.png');}
img.cursive_qu { content:url('cursive/qu.png');}
img.cursive_qu_ { content:url('cursive/qu_.png');}
img.cursive_r { content:url('cursive/r.png');}
img.cursive_r_ { content:url('cursive/r_.png');}
img.cursive_r_a { content:url('cursive/r_a.png');}
img.cursive_r_a_ { content:url('cursive/r_a_.png');}
img.cursive_r_c { content:url('cursive/r_c.png');}
img.cursive_r_c_ { content:url('cursive/r_c_.png');}
img.cursive_r_e { content:url('cursive/r_e.png');}
img.cursive_r_e_ { content:url('cursive/r_e_.png');}
img.cursive_r_i { content:url('cursive/r_i.png');}
img.cursive_r_i_ { content:url('cursive/r_i_.png');}
img.cursive_r_o { content:url('cursive/r_o.png');}
img.cursive_r_o_ { content:url('cursive/r_o_.png');}
img.cursive_r_u { content:url('cursive/r_u.png');}
img.cursive_r_u_ { content:url('cursive/r_u_.png');}
img.cursive_ra { content:url('cursive/ra.png');}
img.cursive_ra_ { content:url('cursive/ra_.png');}
img.cursive_rc { content:url('cursive/rc.png');}
img.cursive_rc_ { content:url('cursive/rc_.png');}
img.cursive_re { content:url('cursive/re.png');}
img.cursive_re_ { content:url('cursive/re_.png');}
img.cursive_ri { content:url('cursive/ri.png');}
img.cursive_ri_ { content:url('cursive/ri_.png');}
img.cursive_right_comma { content:url('cursive/right_comma.png');}
img.cursive_ro { content:url('cursive/ro.png');}
img.cursive_ro_ { content:url('cursive/ro_.png');}
img.cursive_ru { content:url('cursive/ru.png');}
img.cursive_ru_ { content:url('cursive/ru_.png');}
img.cursive_s { content:url('cursive/s.png');}
img.cursive_s_ { content:url('cursive/s_.png');}
img.cursive_s_a { content:url('cursive/s_a.png');}
img.cursive_s_a_ { content:url('cursive/s_a_.png');}
img.cursive_s_c { content:url('cursive/s_c.png');}
img.cursive_s_c_ { content:url('cursive/s_c_.png');}
img.cursive_s_e { content:url('cursive/s_e.png');}
img.cursive_s_e_ { content:url('cursive/s_e_.png');}
img.cursive_s_i { content:url('cursive/s_i.png');}
img.cursive_s_i_ { content:url('cursive/s_i_.png');}
img.cursive_s_o { content:url('cursive/s_o.png');}
img.cursive_s_o_ { content:url('cursive/s_o_.png');}
img.cursive_s_u { content:url('cursive/s_u.png');}
img.cursive_s_u_ { content:url('cursive/s_u_.png');}
img.cursive_sa { content:url('cursive/sa.png');}
img.cursive_sa_ { content:url('cursive/sa_.png');}
img.cursive_sarcasm { content:url('cursive/sarcasm.png');}
img.cursive_sc { content:url('cursive/sc.png');}
img.cursive_sc_ { content:url('cursive/sc_.png');}
img.cursive_se { content:url('cursive/se.png');}
img.cursive_se_ { content:url('cursive/se_.png');}
img.cursive_semicolon { content:url('cursive/semicolon.png');}
img.cursive_si { content:url('cursive/si.png');}
img.cursive_si_ { content:url('cursive/si_.png');}
img.cursive_silly { content:url('cursive/silly.png');}
img.cursive_so { content:url('cursive/so.png');}
img.cursive_so_ { content:url('cursive/so_.png');}
img.cursive_space { content:url('cursive/space.png');}
img.cursive_su { content:url('cursive/su.png');}
img.cursive_su_ { content:url('cursive/su_.png');}
img.cursive_t { content:url('cursive/t.png');}
img.cursive_t_ { content:url('cursive/t_.png');}
img.cursive_t_a { content:url('cursive/t_a.png');}
img.cursive_t_a_ { content:url('cursive/t_a_.png');}
img.cursive_t_c { content:url('cursive/t_c.png');}
img.cursive_t_c_ { content:url('cursive/t_c_.png');}
img.cursive_t_e { content:url('cursive/t_e.png');}
img.cursive_t_e_ { content:url('cursive/t_e_.png');}
img.cursive_t_i { content:url('cursive/t_i.png');}
img.cursive_t_i_ { content:url('cursive/t_i_.png');}
img.cursive_t_o { content:url('cursive/t_o.png');}
img.cursive_t_o_ { content:url('cursive/t_o_.png');}
img.cursive_t_u { content:url('cursive/t_u.png');}
img.cursive_t_u_ { content:url('cursive/t_u_.png');}
img.cursive_ta { content:url('cursive/ta.png');}
img.cursive_ta_ { content:url('cursive/ta_.png');}
img.cursive_tc { content:url('cursive/tc.png');}
img.cursive_tc_ { content:url('cursive/tc_.png');}
img.cursive_te { content:url('cursive/te.png');}
img.cursive_te_ { content:url('cursive/te_.png');}
img.cursive_ti { content:url('cursive/ti.png');}
img.cursive_ti_ { content:url('cursive/ti_.png');}
img.cursive_to { content:url('cursive/to.png');}
img.cursive_to_ { content:url('cursive/to_.png');}
img.cursive_tu { content:url('cursive/tu.png');}
img.cursive_tu_ { content:url('cursive/tu_.png');}
img.cursive_u { content:url('cursive/u.png');}
img.cursive_u_ { content:url('cursive/u_.png');}
img.cursive_v { content:url('cursive/v.png');}
img.cursive_v_ { content:url('cursive/v_.png');}
img.cursive_v_a { content:url('cursive/v_a.png');}
img.cursive_v_a_ { content:url('cursive/v_a_.png');}
img.cursive_v_c { content:url('cursive/v_c.png');}
img.cursive_v_c_ { content:url('cursive/v_c_.png');}
img.cursive_v_e { content:url('cursive/v_e.png');}
img.cursive_v_e_ { content:url('cursive/v_e_.png');}
img.cursive_v_i { content:url('cursive/v_i.png');}
img.cursive_v_i_ { content:url('cursive/v_i_.png');}
img.cursive_v_o { content:url('cursive/v_o.png');}
img.cursive_v_o_ { content:url('cursive/v_o_.png');}
img.cursive_v_u { content:url('cursive/v_u.png');}
img.cursive_v_u_ { content:url('cursive/v_u_.png');}
img.cursive_va { content:url('cursive/va.png');}
img.cursive_va_ { content:url('cursive/va_.png');}
img.cursive_vc { content:url('cursive/vc.png');}
img.cursive_vc_ { content:url('cursive/vc_.png');}
img.cursive_ve { content:url('cursive/ve.png');}
img.cursive_ve_ { content:url('cursive/ve_.png');}
img.cursive_vi { content:url('cursive/vi.png');}
img.cursive_vi_ { content:url('cursive/vi_.png');}
img.cursive_vo { content:url('cursive/vo.png');}
img.cursive_vo_ { content:url('cursive/vo_.png');}
img.cursive_vu { content:url('cursive/vu.png');}
img.cursive_vu_ { content:url('cursive/vu_.png');}
img.cursive_w { content:url('cursive/w.png');}
img.cursive_w_ { content:url('cursive/w_.png');}
img.cursive_w_a { content:url('cursive/w_a.png');}
img.cursive_w_a_ { content:url('cursive/w_a_.png');}
img.cursive_w_c { content:url('cursive/w_c.png');}
img.cursive_w_c_ { content:url('cursive/w_c_.png');}
img.cursive_w_e { content:url('cursive/w_e.png');}
img.cursive_w_e_ { content:url('cursive/w_e_.png');}
img.cursive_w_i { content:url('cursive/w_i.png');}
img.cursive_w_i_ { content:url('cursive/w_i_.png');}
img.cursive_w_o { content:url('cursive/w_o.png');}
img.cursive_w_o_ { content:url('cursive/w_o_.png');}
img.cursive_w_u { content:url('cursive/w_u.png');}
img.cursive_w_u_ { content:url('cursive/w_u_.png');}
img.cursive_wa { content:url('cursive/wa.png');}
img.cursive_wa_ { content:url('cursive/wa_.png');}
img.cursive_wc { content:url('cursive/wc.png');}
img.cursive_wc_ { content:url('cursive/wc_.png');}
img.cursive_we { content:url('cursive/we.png');}
img.cursive_we_ { content:url('cursive/we_.png');}
img.cursive_wi { content:url('cursive/wi.png');}
img.cursive_wi_ { content:url('cursive/wi_.png');}
img.cursive_wo { content:url('cursive/wo.png');}
img.cursive_wo_ { content:url('cursive/wo_.png');}
img.cursive_wu { content:url('cursive/wu.png');}
img.cursive_wu_ { content:url('cursive/wu_.png');}
img.cursive_x { content:url('cursive/x.png');}
img.cursive_x_ { content:url('cursive/x_.png');}
img.cursive_x_a { content:url('cursive/x_a.png');}
img.cursive_x_a_ { content:url('cursive/x_a_.png');}
img.cursive_x_c { content:url('cursive/x_c.png');}
img.cursive_x_c_ { content:url('cursive/x_c_.png');}
img.cursive_x_e { content:url('cursive/x_e.png');}
img.cursive_x_e_ { content:url('cursive/x_e_.png');}
img.cursive_x_i { content:url('cursive/x_i.png');}
img.cursive_x_i_ { content:url('cursive/x_i_.png');}
img.cursive_x_o { content:url('cursive/x_o.png');}
img.cursive_x_o_ { content:url('cursive/x_o_.png');}
img.cursive_x_u { content:url('cursive/x_u.png');}
img.cursive_x_u_ { content:url('cursive/x_u_.png');}
img.cursive_xa { content:url('cursive/xa.png');}
img.cursive_xa_ { content:url('cursive/xa_.png');}
img.cursive_xc { content:url('cursive/xc.png');}
img.cursive_xc_ { content:url('cursive/xc_.png');}
img.cursive_xe { content:url('cursive/xe.png');}
img.cursive_xe_ { content:url('cursive/xe_.png');}
img.cursive_xi { content:url('cursive/xi.png');}
img.cursive_xi_ { content:url('cursive/xi_.png');}
img.cursive_xo { content:url('cursive/xo.png');}
img.cursive_xo_ { content:url('cursive/xo_.png');}
img.cursive_xu { content:url('cursive/xu.png');}
img.cursive_xu_ { content:url('cursive/xu_.png');}
img.cursive_y { content:url('cursive/y.png');}
img.cursive_y_ { content:url('cursive/y_.png');}
img.cursive_y_a { content:url('cursive/y_a.png');}
img.cursive_y_a_ { content:url('cursive/y_a_.png');}
img.cursive_y_c { content:url('cursive/y_c.png');}
img.cursive_y_c_ { content:url('cursive/y_c_.png');}
img.cursive_y_e { content:url('cursive/y_e.png');}
img.cursive_y_e_ { content:url('cursive/y_e_.png');}
img.cursive_y_i { content:url('cursive/y_i.png');}
img.cursive_y_i_ { content:url('cursive/y_i_.png');}
img.cursive_y_o { content:url('cursive/y_o.png');}
img.cursive_y_o_ { content:url('cursive/y_o_.png');}
img.cursive_y_u { content:url('cursive/y_u.png');}
img.cursive_y_u_ { content:url('cursive/y_u_.png');}
img.cursive_ya { content:url('cursive/ya.png');}
img.cursive_ya_ { content:url('cursive/ya_.png');}
img.cursive_yc { content:url('cursive/yc.png');}
img.cursive_yc_ { content:url('cursive/yc_.png');}
img.cursive_ye { content:url('cursive/ye.png');}
img.cursive_ye_ { content:url('cursive/ye_.png');}
img.cursive_yi { content:url('cursive/yi.png');}
img.cursive_yi_ { content:url('cursive/yi_.png');}
img.cursive_yo { content:url('cursive/yo.png');}
img.cursive_yo_ { content:url('cursive/yo_.png');}
img.cursive_yu { content:url('cursive/yu.png');}
img.cursive_yu_ { content:url('cursive/yu_.png');}
img.cursive_z { content:url('cursive/z.png');}
img.cursive_z_ { content:url('cursive/z_.png');}
img.cursive_z_a { content:url('cursive/z_a.png');}
img.cursive_z_a_ { content:url('cursive/z_a_.png');}
img.cursive_z_c { content:url('cursive/z_c.png');}
img.cursive_z_c_ { content:url('cursive/z_c_.png');}
img.cursive_z_e { content:url('cursive/z_e.png');}
img.cursive_z_e_ { content:url('cursive/z_e_.png');}
img.cursive_z_i { content:url('cursive/z_i.png');}
img.cursive_z_i_ { content:url('cursive/z_i_.png');}
img.cursive_z_o { content:url('cursive/z_o.png');}
img.cursive_z_o_ { content:url('cursive/z_o_.png');}
img.cursive_z_u { content:url('cursive/z_u.png');}
img.cursive_z_u_ { content:url('cursive/z_u_.png');}
img.cursive_za { content:url('cursive/za.png');}
img.cursive_za_ { content:url('cursive/za_.png');}
img.cursive_zc { content:url('cursive/zc.png');}
img.cursive_zc_ { content:url('cursive/zc_.png');}
img.cursive_ze { content:url('cursive/ze.png');}
img.cursive_ze_ { content:url('cursive/ze_.png');}
img.cursive_zi { content:url('cursive/zi.png');}
img.cursive_zi_ { content:url('cursive/zi_.png');}
img.cursive_zo { content:url('cursive/zo.png');}
img.cursive_zo_ { content:url('cursive/zo_.png');}
img.cursive_zu { content:url('cursive/zu.png');}
img.cursive_zu_ { content:url('cursive/zu_.png');}
img.straightive__ { content:url('straightive/_.png');}
img.straightive_a { content:url('straightive/a.png');}
img.straightive_b { content:url('straightive/b.png');}
img.straightive_bollocks { content:url('straightive/bollocks.png');}
img.straightive_c { content:url('straightive/c.png');}
img.straightive_confusion { content:url('straightive/confusion.png');}
img.straightive_dash { content:url('straightive/dash.png');}
img.straightive_e { content:url('straightive/e.png');}
img.straightive_eop { content:url('straightive/eop.png');}
img.straightive_eot { content:url('straightive/eot.png');}
img.straightive_f { content:url('straightive/f.png');}
img.straightive_fleuron { content:url('straightive/fleuron.png');}
img.straightive_h { content:url('straightive/h.png');}
img.straightive_i { content:url('straightive/i.png');}
img.straightive_inline lengthing dot { content:url('straightive/inline lengthing dot.png');}
img.straightive_interrobang { content:url('straightive/interrobang.png');}
img.straightive_j { content:url('straightive/j.png');}
img.straightive_jovaun { content:url('straightive/jovaun.png');}
img.straightive_k { content:url('straightive/k.png');}
img.straightive_l { content:url('straightive/l.png');}
img.straightive_left_comma { content:url('straightive/left_comma.png');}
img.straightive_m { content:url('straightive/m.png');}
img.straightive_n { content:url('straightive/n.png');}
img.straightive_o { content:url('straightive/o.png');}
img.straightive_p { content:url('straightive/p.png');}
img.straightive_period { content:url('straightive/period.png');}
img.straightive_pondering { content:url('straightive/pondering.png');}
img.straightive_q { content:url('straightive/q.png');}
img.straightive_r { content:url('straightive/r.png');}
img.straightive_right_comma { content:url('straightive/right_comma.png');}
img.straightive_s { content:url('straightive/s.png');}
img.straightive_sarcasm { content:url('straightive/sarcasm.png');}
img.straightive_semicolon { content:url('straightive/semicolon.png');}
img.straightive_silly { content:url('straightive/silly.png');}
img.straightive_space { content:url('straightive/space.png');}
img.straightive_t { content:url('straightive/t.png');}
img.straightive_u { content:url('straightive/u.png');}
img.straightive_v { content:url('straightive/v.png');}
img.straightive_w { content:url('straightive/w.png');}
img.straightive_x { content:url('straightive/x.png');}
img.straightive_y { content:url('straightive/y.png');}
img.straightive_z { content:url('straightive/z.png');}
img.unlinated_straightive__ { content:url('unlinated_straightive/_.png');}
img.unlinated_straightive_a { content:url('unlinated_straightive/a.png');}
img.unlinated_straightive_b { content:url('unlinated_straightive/b.png');}
img.unlinated_straightive_bollocks { content:url('unlinated_straightive/bollocks.png');}
img.unlinated_straightive_c { content:url('unlinated_straightive/c.png');}
img.unlinated_straightive_confusion { content:url('unlinated_straightive/confusion.png');}
img.unlinated_straightive_dash { content:url('unlinated_straightive/dash.png');}
img.unlinated_straightive_e { content:url('unlinated_straightive/e.png');}
img.unlinated_straightive_eop { content:url('unlinated_straightive/eop.png');}
img.unlinated_straightive_eot { content:url('unlinated_straightive/eot.png');}
img.unlinated_straightive_f { content:url('unlinated_straightive/f.png');}
img.unlinated_straightive_fleuron { content:url('unlinated_straightive/fleuron.png');}
img.unlinated_straightive_h { content:url('unlinated_straightive/h.png');}
img.unlinated_straightive_i { content:url('unlinated_straightive/i.png');}
img.unlinated_straightive_interrobang { content:url('unlinated_straightive/interrobang.png');}
img.unlinated_straightive_j { content:url('unlinated_straightive/j.png');}
img.unlinated_straightive_jovaun { content:url('unlinated_straightive/jovaun.png');}
img.unlinated_straightive_k { content:url('unlinated_straightive/k.png');}
img.unlinated_straightive_l { content:url('unlinated_straightive/l.png');}
img.unlinated_straightive_left_comma { content:url('unlinated_straightive/left_comma.png');}
img.unlinated_straightive_m { content:url('unlinated_straightive/m.png');}
img.unlinated_straightive_n { content:url('unlinated_straightive/n.png');}
img.unlinated_straightive_o { content:url('unlinated_straightive/o.png');}
img.unlinated_straightive_p { content:url('unlinated_straightive/p.png');}
img.unlinated_straightive_period { content:url('unlinated_straightive/period.png');}
img.unlinated_straightive_pondering { content:url('unlinated_straightive/pondering.png');}
img.unlinated_straightive_q { content:url('unlinated_straightive/q.png');}
img.unlinated_straightive_r { content:url('unlinated_straightive/r.png');}
img.unlinated_straightive_right_comma { content:url('unlinated_straightive/right_comma.png');}
img.unlinated_straightive_s { content:url('unlinated_straightive/s.png');}
img.unlinated_straightive_sarcasm { content:url('unlinated_straightive/sarcasm.png');}
img.unlinated_straightive_semicolon { content:url('unlinated_straightive/semicolon.png');}
img.unlinated_straightive_silly { content:url('unlinated_straightive/silly.png');}
img.unlinated_straightive_space { content:url('unlinated_straightive/space.png');}
img.unlinated_straightive_t { content:url('unlinated_straightive/t.png');}
img.unlinated_straightive_u { content:url('unlinated_straightive/u.png');}
img.unlinated_straightive_v { content:url('unlinated_straightive/v.png');}
img.unlinated_straightive_w { content:url('unlinated_straightive/w.png');}
img.unlinated_straightive_x { content:url('unlinated_straightive/x.png');}
img.unlinated_straightive_y { content:url('unlinated_straightive/y.png');}
img.unlinated_straightive_z { content:url('unlinated_straightive/z.png');}
